@font-face {
   font-family: 'Rubik-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Monika/Desktop/Dateien%20Monika/Documents/Akkordeon%20DHV/AOM_Homepage/fonts/Rubik-Regular/font.ttf');
}
