@font-face {
   font-family: 'Rubik-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Markus/Downloads/MarkusKlein-AOM.github.io-main(1)/MarkusKlein-AOM.github.io-main/fonts/Rubik-Regular/font.ttf');
}
